body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h2 {
  text-align: center;
}

#dashboard {
  display: flex;
}

#dashboard-panels {
  flex: 1;
}

#dashboard-grid {
  flex: 2; 
  margin-left: 20px;
}

#setCheckboxes {
  margin-bottom: 20px;
}

#cardTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button {
  margin: 10px;
}

#setCheckboxes {
  margin-bottom: 10px;
  max-height: 200px;
  overflow-y: scroll;
}

/* CSS per l'icona di caricamento */
.loading-icon {
  display: inline-block;
  width: 24px; /* Imposta la larghezza desiderata */
  height: 24px; /* Imposta l'altezza desiderata */
  border: 3px solid #f3f3f3; /* Colore del bordo */
  border-top: 3px solid #3498db; /* Colore del bordo superiore (effetto rotazione) */
  border-radius: 50%; /* Forma circolare */
  animation: spin 1s linear infinite; /* Animazione di rotazione */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#cardTable {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  width: fit-content;
  margin: auto;
}

#infoText {
  white-space: pre-line;
}

img {
  max-width: 150px;
}

img.card-image {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

img.card-image-placeholder {
  height: auto;
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

#navigation {
  text-align: center;
}

#desktop {
  flex: 1;
  border: 2px dashed red;
  padding: 10px;
  position: relative;
  display: none;
  flex-direction: row; /* Rendi i contenuti orizzontalmente allineati */
  align-items: center; /* Allinea i contenuti al centro */
  overflow-x: scroll; /* Abilita lo scrolling orizzontale se necessario */
  margin: auto;
  max-width: 446px;
  gap: 5px;
  margin-bottom: 10px;
  height: 125px;
}

.card-image-desktop {
  width: 80px;
}

/* Styles for the popup container */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
}

/* Style for the close button (the "x" icon) */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 50px;
  color: white;
  cursor: pointer;
}

/* Style for the image inside the popup */
#popupImage {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}

/* Stili per dispositivi mobili */
@media (max-width: 768px) {
  /* #dashboard {
    display: block;
  } */
  #dashboard-grid {
    margin-left: 0px;
  }
  #dashboard {
    display: flex;
    flex-direction: column; /* Imposta la direzione della flessione a colonna */
  }
  #dashboard-grid {
    margin-left: 0px;
    order: 1; /* Modifica l'ordine di visualizzazione */
  }
  #dashboard-panels {
    order: 2; /* Modifica l'ordine di visualizzazione */
  }
  #sortControls {
    margin-bottom: 10px;
  }
  #navigation, #search {
    position: sticky;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: white;
    width: 100%;
  }
  #navigation {
    bottom: 40px;
    margin-bottom: 20px;
  }
  #search {
    height: 40px;
  }
  #navigation > button {
    text-align: center;
    width: 24%;
    margin: 0;
    height: 40px;
  }
  #navigation > h2, #search > h2 {
    display: none;
  }
  #search > button, #search > input, #search > select {
    width: 31.8%;
    margin: 0px;
    height: 100%;
  }
  #search > input {
    height: 85%;
  }
}