body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h2 {
  text-align: center;
}

#setCheckboxes {
  margin-bottom: 20px;
}

#cardTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button {
  margin: 10px;
}

#setCheckboxes {
  margin-bottom: 10px;
  max-height: 200px;
  overflow-y: scroll;
}

/* CSS per l'icona di caricamento */
.loading-icon {
  display: inline-block;
  width: 24px; /* Imposta la larghezza desiderata */
  height: 24px; /* Imposta l'altezza desiderata */
  border: 3px solid #f3f3f3; /* Colore del bordo */
  border-top: 3px solid #3498db; /* Colore del bordo superiore (effetto rotazione) */
  border-radius: 50%; /* Forma circolare */
  animation: spin 1s linear infinite; /* Animazione di rotazione */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#cardTable {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  width: fit-content;
  margin: auto;
}

#infoText {
  white-space: pre-line;
}

img {
  max-width: 150px;
}

.card-image-placeholder {
  height: auto;
}